body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
    margin: 0;
}

.checkout-container {
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-top: 40px;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    width: 55%;
}

.personal-details, .billing-details {
    width: 100%;
    margin-bottom: 20px;
}

.order-summary { 
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    right: 10px;
    top: 100px;
    width: 30%;
    height: fit-content;
    position: absolute; 
    top: 225px; 
    right: 20px; 
}

.proceed-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


.back{
    padding-top: 20px;
    text-decoration: none;
}

.order {
    font-size: 30px;
    font-weight: bold;
}

.footer {
    clear: both;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
}

.head {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 25px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: red;
    font-size: 0.875em;
}

.save-button, .checkout-button{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.save-button:hover, .checkout-button:hover{
    background-color: #218838;
}

.order-confirmation {
    display: none;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    color: #155724;
}

.order-summary p {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .checkout-container {
        width: 80%;
        margin-right: auto; 
        margin-left: auto; 
        margin-top: 20px; 
    }

    .order-summary {
        width: 90%; 
        position: relative; 
        margin: 20px auto; 
        border-radius: 0;
        box-shadow: none;
        top: 0; 
        right: 0; 
    }

    .footer {
        width: 100%;
    }

    .navbar {
        width: 100%;
    }
}
