.introduction{
    margin-top: 50px;
    
}
main{
    margin-top: 150px;
}

h2{
    font-size: 30px;
    background-color: #47aa5e;
    padding: 10px;
}

p{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

body{
    font-family: Arial, sans-serif;
}
.responsive-img {
    width: 75%;
    height: auto;
    margin: 0 auto;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.read-more-btn {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.read-more-content {
    display: none;
}

.read-more-content.active {
    display: block;
}


.search-box.active {
    display: block;
}