body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/Home/background.gif') no-repeat center center fixed;
  /* Background image */
  background-size: cover;
  margin-top: 80px;
  margin-bottom: 200px;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  /* Semi-transparent white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  /* Limit maximum width */
  width: 90%;
  /* Responsive width */
  text-align: left;
  /* Align content to the left */
  margin: auto;
  /* Center horizontally */
  /* margin-top: 200px; */
  /* Spacing from the top */
  /* margin-bottom: 30px; */
   /* Spacing */
}

/* h2 {
    text-align: center;
    color: red; Header color
    margin-bottom: 20px;
    Increase margin to lower the header
}   */


label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  /* Align labels to the left */
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"] {
  width: auto;
}

.rating label {
  display: inline-block;
  width: 30px;
}

button {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background: #e92f09;
}

.required {
  color: red;
  font-size: 0.9em;
}

.error {
  border-color: red;
}

#confirmation-message,
#final-message {
  text-align: center;
  display: none;
}