.body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;


}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url("https://i.pinimg.com/originals/e3/07/77/e307778e2def26c31231e2075a38f88a.gif") no-repeat */
    background: url("../images/gallery/lion.gif") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#text {
    position: absolute;
    font-size: 5em;
    color: white;
    text-shadow: 2px 4px 5px #f9f9f9;
    margin-left: -100px;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: black;
    padding: 30px 100px;
    background-size: cover;


}

.sec h2 {
    font-size: 3em;
    color: #fff;

}

.container {
    position: absolute;

    left: 50%;
    transform: translate(-50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;

}

.container .slide .item {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    right: 60%;
    transform: translate(50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    font-size: smaller;


}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;

}

.slide .item:nth-child(3) {
    left: 50%;

}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);

}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);

}

.slide .item:nth-child(6) {
    left: calc(50% + 440px);

}

.slide .item:nth-child(n+7) {
    left: calc(50% + 440px);
    opacity: 0;

}

.item.content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;

}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 30px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des {

    margin-left: 80px;
    color: white;
    font-size: large;
    width: 200px;
    height: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.7s 1 forwards;
}

.content .button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;

}

.button button:hover {
    background: #ababab;
    color: #fff;


}

.box {
    background-color: white;
    width: 200px;
    height: 200px;
    display: inline-flex;
    margin-top: -15px;
    padding: 50px;
    margin-left: 100px;
    transition: 1s;
    background-color: green;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;

}

.mainBox {
    height: 40vh;
    width: 100vw;

}

.box:hover {
    transform: scale(1.2);

}

.section1 {
    background-color: #000;
    width: 100vw;
    height: 800px;
}













.container2 {
    position: relative;
    margin-top: 800px;
    left: 50%;
    transform: translate(-50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.container2 .slide2 .item2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    right: 60%;
    transform: translate(50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    font-size: smaller;


}

.slide2 .item2:nth-child(1),
.slide2 .item2:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%
}

.slide2 .item2:nth-child(3) {
    left: 50%;

}

.slide2 .item2:nth-child(4) {
    left: calc(50% + 220px);

}

.slide2 .item2:nth-child(5) {
    left: calc(50% + 440px);

}

.slide2 .item2:nth-child(6) {
    left: calc(50% + 440px);

}

.slide2 .item2:nth-child(n+7) {
    left: calc(50% + 440px);
    opacity: 0;

}

.item2.content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.slide2 .item2:nth-child(2) .content {
    display: block;

}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 30px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des {

    margin-left: 80px;
    color: white;
    font-size: large;
    width: 200px;
    height: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.7s 1 forwards;
}

.content .button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button1 {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button1 button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;


}

.button1 button:hover {
    background: #ababab;
    color: #fff;


}

.section2 {
    background-color: #000;
    width: 100vw;
    height: 1100px;
    margin-top: -800px;
}