*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url("../images/home/background.gif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100vw;
    overflow-x: hidden;  
}


header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10px 2%;
    background: transparent;
    background: #1c3329;
}

.img{
    height: 75px;
    width: 75px;
    border-radius: 10px;
    
}


.navbar {
    background-color: #001a33;
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.brand-logo img {
    height: 70px;
}
.nav-items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item {
    margin-left: 1rem;
}
.nav-item a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
}
.nav-item a:hover,
.nav-item a.active {
    background-color: #4a4950;
    border-radius: 5px;
    color: red;
}
.contact-number a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 1rem;
}
.search-icon img,
.cart-icon img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 3rem;
}

.search-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-box input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
}
.content {
    flex: 1;
    padding-top: 80px; /* Height of the fixed navbar */
}
 
main{
    margin-top: 185px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 80px; 
    
}

.mission{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: 100px;
    
}

.mission-before-footer {
    background: transparent;
    padding: 20px;
    text-align: justify;
    font-size: 1.2em;
    color: #1c3329;
    border-top: 1px solid #040404;
    border-bottom: 1px solid #040404;
    font-size: larger;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    margin: 10px;
}

.mission h1{
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.links a{
    padding: 15px 20px;
    color: #1c3329;
    font-size: 30px;
    font-weight: 700;
}

.link-1 , .link-2,.link-3{
    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    margin: 10px;
}

.links div:hover{
    background:#1c3329;
}

.links a:hover{
    color: #56E161;
}

#Mtargets{
    margin-bottom: 200px;
}

.targets{
    
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 45px;
    width: 100%;
    margin-bottom: 70px;

}

.target{
    display: flex;
    align-items: center;
    justify-content: center;
}

.targets img{
    height: 200px;
    width: 150px;
    float: left;
    margin-right: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.9); 
    transition: box-shadow 0.3s ease;
    
}

.targets img:hover{
    box-shadow: 0 8px 17px rgba(0, 0, 0, 1); 
}

.targets div{
    color: white;
    background: rgba(0, 0, 0, 0.5);
    /*box-shadow: 0 8px 17px rgba(0, 0, 0, 0.7);*/
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.targets div:hover{
    color: #56E161;
    background: #1c3329;
}

.targets p{
    font-weight: 500;
    text-align: justify;
    font-size: 17px;
       
}

#Mthingstodo{
    margin-bottom: 200px;
}
.container{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 45px;
    width: 100%;
    margin-bottom: 70px;
    color: white;
}

.container img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0.5, 0.9); 
    float: left;
    margin-right: 15px;
    
}



.container P{
    font-size: 17px;
    font-weight: 520;
}

.container div{
    background: rgba(0, 0, 0, 0.5);
    /*box-shadow: 0 8px 17px rgba(0, 0, 0, 1);*/
    padding: 10px 0 0 10px;
    border-radius: 10px;
}

.container div:hover{
    color: #56E161;
    background: #1c3329;
}

.container a{
    color: white;
    font-weight: bolder;
}

.heading{
    color: rgba(255, 255, 255, 1);
    font-size: 45px;
    font-weight: 700;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    margin-bottom: 15px;
}
@media (max-width: 768px) {
    .navbar-container {
        justify-content: space-between;
    }
    .nav-items {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        align-items: center;
        display: none;
    }
    .nav-items.active {
        display: flex;
    }
    .nav-item {
        margin: 1rem 0;
    }
    .hamburger {
        display: flex;
    }
    .contact-and-search {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 769px) {
    .nav-items {
        flex: 1;
        justify-content: center;
        display: flex;
    }
    .contact-and-search {
        display: flex;
        align-items: center;
        margin-right:3rem;
    }
    .contact-number {
        margin-left: 3rem;
    }
}

     /* Footer styles */
     .footer {
        background-color: #001a33;
        color: #fff;
        padding: 2rem 1rem;
    }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-column {
        flex: 1;
        min-width: 200px;
        margin: 1rem;
    }
    .footer-column h3 {
        margin-bottom: 1rem;
    }
    .footer-column p, .footer-column a {
        color: #fff;
        text-decoration: none;
        margin-bottom: 0.5rem;
        display: block;
    }
    .footer-column a:hover {
        text-decoration: underline;
    }
    .footer-logo img {
        height: 80px;
        width: 80px;
    }
    .footer-icons {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }
    .footer-icons a {
        margin: 0 0.5rem;
    }
    .footer-icons img {
        width: 50px;
        height: 50px;
    }
    .footer-bottom {
        text-align: center;
        margin-top: 1rem;
        border-top: 1px solid #4a4a4a;
        padding-top: 1rem;
    }
    .payment-methods img {
        width: 40px;
        margin: 0 0.5rem;
    }
   