body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.navbar {
    background-color: #001a33;
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.brand-logo img {
    height: 70px;
}

.nav-items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 1rem;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
}

.nav-item a:hover,
.nav-item a.active {
    background-color: #4a4950;
    border-radius: 5px;
    color: red;
}

.contact-number a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 1rem;
}

.search-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 3rem;
}

.search-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-box input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
}

.content {
    flex: 1;

}

@media (max-width: 768px) {
    .navbar-container {
        justify-content: space-between;
    }

    .nav-items {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        align-items: center;
        display: none;
    }

    .nav-items.active {
        display: flex;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: flex;
    }

    .contact-and-search {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 769px) {
    .nav-items {
        flex: 1;
        justify-content: center;
        display: flex;
    }

    .contact-and-search {
        display: flex;
        align-items: center;
        margin-right: 5rem;
    }

    .contact-number {
        margin-left: 3rem;
    }
}

/* Footer styles */
.footer {
    background-color: #001a33;
    color: #fff;
    padding: 2rem 1rem;
    width: 96.9vw;

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 1rem;
}

.footer-column h3 {
    margin-bottom: 1rem;
}

.footer-column p,
.footer-column a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    display: block;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-logo img {
    height: 80px;
    width: 80px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons img {
    width: 50px;
    height: 50px;
}

.footer-bottom {
    text-align: center;
    margin-top: 1rem;
    border-top: 1px solid #4a4a4a;
    padding-top: 1rem;
}

.payment-methods img {
    width: 40px;
    margin: 0 0.5rem;
}


.map {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: url(../images/sitemapN/pexels-pixabay-414144.jpg);
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    width: 100%;




}

/**.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
/**}**/


.map h1 {

    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
    margin-left: 80px;



}

#h1 {
    text-align: center;
    align-items: center;

    padding: 0;
}


.btn1,
.btn3,
.btn4,
.btn5,
.btn6 {
    width: 150px;
    height: 60px;
    font-size: x-large;
    color: #fff;
    background-color: transparent;
    margin: 20px 10px;
    margin-top: 200px;
    margin-left: 100px;
    border-color: #fff;
    font-weight: lighter;
    border-radius: 10px;
    border-width: 3px;
    border: 1px solid #ccc;
}

.btn1 {
    margin-left: -170px;
}

.btn2-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.btn2-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.btn2,
.btn7,
.btn8,
.btn9 {
    width: 150px;
    height: 60px;
    font-size: x-large;
    background-color: transparent;
    margin: 10px 0;

    margin-top: 200px;
    margin-left: 10px;
    margin-bottom: -150px;
    border-color: #fff;
    font-weight: lighter;
    color: #fff;
    border-radius: 10px;
    border-width: 3px;
    border: 1px solid #ccc;

}

.btn6 {
    margin-left: 50px;
}

.btn3-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
}

.btn6,
.btn10,
.btn11,
.btn12,
.btn13 {
    width: 150px;
    height: 60px;
    font-size: x-large;
    background-color: transparent;
    margin: 10px 0;

    margin-top: 200px;
    margin-left: 10px;
    margin-bottom: -150px;
    border-color: #fff;
    font-weight: lighter;
    color: #fff;
    border-radius: 10px;
    border-width: 3px;
    color: #fff;
    border: 1px solid #ccc;
}



.btn1-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -100px;
    margin-top: 0px;
}

.btn14,
.btn15,
.btn16 {
    width: 150px;
    height: 60px;
    font-size: x-large;
    background-color: transparent;
    margin: 10px 0;
    margin-top: 300px;
    border-color: #fff;
    font-weight: lighter;
    color: #fff;
    border-radius: 10px;
    border-width: 3px;
    margin-left: -490px;


    margin-bottom: -150px;
    border: 1px solid #ccc;



}

.btn15 {
    margin-top: 200px;
}

.btn16 {
    margin-top: 200px;
}

.btn3 {
    margin-left: 200px;
}



#btn1 {
    top: 100px;
    left: 100px;
}

#btn2 {
    top: 100px;
    left: 300px;
}

#btn3 {
    top: 100px;
    left: 500px;
}

#btn4 {
    top: 100px;
    left: 700px;
}

#btn5 {
    top: 100px;
    left: 900px;
}

#btn6 {
    top: 100px;
    left: 1100px;
}

#btn7 {
    top: 200px;
    left: 300px;
}

#btn8 {
    top: 300px;
    left: 300px;
}

#btn9 {
    top: 400px;
    left: 300px;
}

#btn14 {
    top: 500px;
    left: 300px;
}

#btn15 {
    top: 200px;
    left: 100px;
}

#btn16 {
    top: 300px;
    left: 100px;
}

#btn10 {
    top: 200px;
    left: 1100px;
}

#btn11 {
    top: 300px;
    left: 1100px;
}

#btn12 {
    top: 400px;
    left: 1100px;
}

#btn13 {
    top: 500px;
    left: 1100px;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

.a {
    color: #fff;
}