* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.logo{
    width: 100px;
}

#splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	background-image: url(../images/BG..jpg);  
    background-repeat: no-repeat; 
    background-position: center;  
    background-size: cover;
	transition: opacity 1s ease; 
}

#splash-screen.fade-out {
    opacity: 0; 
}

.splash-content {
    padding: 20px;
	display: inline;
    align-items: left;
    text-align: center; 
	margin-top: 20px;
	margin-left: 20px;
}

.loader-image {
    width: 50px;
    height: 50px;
    display: block;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: rgb(255, 255, 255);
	font-family: "Archivo Black", sans-serif;
	font-size: 90px;
	margin-top: 10px;
}

h2{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 590px;
    color: #011003;
}

.members {
	padding-top: 10px;
	padding-left: 20px;
    text-align: left;
    font-size: 20px;
	color: white;
}
.members {
    padding-left: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.members li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.members .name {
    flex: 1; /* This allows the name section to take up the remaining space */
    padding-right: 20px; /* Add some space between the name and details */
}

.members .details {
    flex-shrink: 0; /* This keeps the details section from shrinking */
    white-space: nowrap; /* This prevents the details from wrapping */
    margin-right: 300px; /* Add margin to the right to prevent touching the box */
}


.mission {
    color: rgb(255, 255, 255);
	font-size: 30px;
	font-style: italic;
	margin-top: 5px;
    margin-bottom: 40px;
}

li {
     padding-bottom: 10px; 
	 
}

.team {
	background: rgba(255, 255, 255, 0.2); 
	border-radius: 10px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px); 
	-webkit-backdrop-filter: blur(10px); 
	padding-bottom: 5px;
	padding-left: 20px;
	margin-top: 50px;
    margin: auto;
	text-align: center;
    max-width: 800px;
   
}


@media (max-width: 768px) {
   
    h1 {
        font-size: 60px; 
        margin-top: 20px; 
    }

    .mission {
        font-size: 20px; 
        margin-top: 30px; 
    }

    .team {
        margin-top: 45px; 
		margin-bottom: 50px;
    }
	.members,h2 {
		font-size: 18px;
	}
}

@media (max-width: 480px) {
    
    h1 {
        font-size: 40px; 
        margin-top: 20px;
    }

    .mission {
        font-size: 20px; 
        margin-top: 30px; 
    }

    .team {
        margin-top: 45px;
    }
}


