* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

#splash-screen {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
	background-image: url(../images/BG3.jpg);  
    background-repeat: no-repeat; 
    background-position: center;  
    background-size: cover;
	transition: opacity 1s ease; 
}

#splash-screen.fade-out {
    opacity: 0; 
}

.splash-content {
    padding: 20px;
	display: inline;
    align-items: left;
    max-width: 800px;
	max-height: 600px;
    text-align: center; 
	margin-top: 35px;
	margin-left: 20px;
}

.loader-image {
    width: 100px;
    height: 100px;
    display: block;
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: rgb(255, 255, 255);
	font-family: "Archivo Black", sans-serif;
	font-size: 90px;
	margin-top: 60px;
}

.members,h2 {
	padding-top: 10px;
	padding-left: 20px;
    text-align: left;
	color: white;
}

p {
    color: rgb(255, 255, 255);
	font-size: 20px;
	font-style: italic;
	padding-bottom: 10px;
	margin-top: 30px;
}

li {
     padding-bottom: 10px; 
	 
}

.team {
	background: rgba(255, 255, 255, 0.2); 
	border-radius: 10px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px); 
	-webkit-backdrop-filter: blur(10px); 
	padding-bottom: 5px;
	padding-left: 20px;
	margin-top: 50px;
	text-align: center;
}


@media (max-width: 768px) {
   
    h1 {
        font-size: 60px; 
        margin-top: 20px; 
    }

    p {
        font-size: 20px; 
        margin-top: 30px; 
    }

    .team {
        margin-top: 45px; 
		margin-bottom: 50px;
    }
	.members,h2 {
		font-size: 18px;
	}
}

@media (max-width: 480px) {
    
    h1 {
        font-size: 40px; 
        margin-top: 20px;
    }

    p {
        font-size: 20px; 
        margin-top: 30px; 
    }

    .team {
        margin-top: 45px;
    }
}


